<header>
  <nav>
    <div class="logo">
      <a href="index.html#home"><img src="img/woodstocknet_logo.png" alt="Woodstock NET logo" /></a>
    </div>
    <button class="menu-btn" onclick="toggleMenu()">☰</button>
    <ul class="nav-links" id="navLinks">
      <li><a href="index.html#home">Home</a></li>
      <li><a href="index.html#about">About</a></li>
      <li><a href="index.html#events">Events</a></li>
      <li><a href="radio.html">Radio</a></li>
      <li><a class="join" href="index.html#join">Join</a></li>
    </ul>
  </nav>
</header>